# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/
macos/.symlinks/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Environment
.env
*.env
credentials.json

# Node (backend)
node_modules/
dist/
*.js.map
cdk.out/
